<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Airports</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="./styling/style.css" rel="stylesheet">
  </head>
  <body ng-app="AirportApp" ng-controller="AirportController">
    <!-- navbar -->
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand nav-element">What's My Mileage?</a>
        </div>
        <div id="nav-items" class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="http://www.github.com/Robinnnnn" class="nav-element">@Robin</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="shadow-nav"></div>

    <!-- left-half of website -->
    <div class="col-lg-6">

      <!-- Origin Selection -->
      <div class="checkpoint">
        Origin
        <div class="input-field">
          <input type="text" class="form-control" ng-model="searchText.from" ng-focus="focus('from')">
          <ul class="scrollable-menu draw-marker" ng-show="focused.from">
            <li ng-repeat="airport in airports | orderBy:'name' | filter:searchText.from" ng-click="selectAirport(airport, 'from')" class="city"><a href="#">{{ airport.code }} - {{ airport.name }}</a></li>
          </ul>
        </div>
      </div>

      <hr>
      
      <!-- Destination Selection -->
      <div class="checkpoint">
        Destination
        <div class="input-field">
          <input type="text" class="form-control" ng-model="searchText.destination" ng-focus="focus('destination')">
          <ul class="scrollable-menu draw-marker" ng-show="focused.destination">
            <li ng-repeat="airport in airports | orderBy:'name' | filter:searchText.destination" ng-click="selectAirport(airport, 'destination')" class="city"><a href="#">{{ airport.code }} - {{ airport.name }}</a></li>
          </ul>
        </div>
      </div>
      
      <hr>
      
      <!-- Notification area -->
      <div class="notification">
        {{ alert }}
        {{ distance }}
      </div>
    </div>

    <!-- Right-half of website -->
    <div class="col-lg-6" id="map"></div>

    <!-- Relevant scripts -->
    <script src="./node_modules/angular/angular.js"></script>
    <script src="/client/angularApp.js"></script>
    <script src="/client/airportFactory.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/client/map.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRhqqfGjwrb81F8Jyi9gWAMH6m-58n4TQ&callback=initMap">
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>